/* Aspecto general de la página */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mainBody {
  background-image: url(./backgroundImg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 15%;
  height: 100vh;
  position: relative; 
}

@media only screen and (min-width: 480px){
  .mainBody{
    background-position: 20%;
  }
}

@media only screen and (min-width: 960px){
  .mainBody{
    background-position: 0%;
  }
}

a {
  text-decoration: none!important;
  color: rgb(255, 255, 255)!important;

}


.presentacion {
  color: rgb(255, 255, 255);
  background-color: rgba(128, 128, 128, 0.655);
  text-align: end;
  padding: 5%;
  margin-top: 30%;
}


@media only screen and (min-width: 480px){
  .presentacion{
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5vh; 
    }
}

@media only screen and (min-width: 960px){
  .presentacion{
    margin-top: 10%;
    height: 40vh;
  }
}
.mediosContacto{
  display: flex;
  justify-content: end;
  gap: 3vh; 
}

.capturas {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.secciones {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}

.descripcion {
  
  width: 70%;
  text-align: left;
}

@media only screen and (min-width: 768px){
  .descripcion{
    text-align: center;
  }
}

.fondoParaParrafo {
  background-color: rgba(199, 141, 141, 0.655);
  padding: 5%;
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: large;
}


/* Navbar */

.container-fluid{
  display: flex;
  gap: 5vw;
}

.navbar-collapse{
  justify-content: end;
}

.imgNav {
  border-radius: 50%;
  border: 2px solid;
  border-color: rgb(0, 0, 0);
  width: 10%;
}

@media only screen and (min-width: 480px){
  .imgNav {
    width: 8%;
  }
}

@media only screen and (min-width: 768px){
  .imgNav {
    width: 5%;
  }
}

/* Páginas secundarias */

.btnSide{
  position: fixed;
  bottom: 3vh;
  right: 3vw; 
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

@media only screen and (min-width: 480px){
  .btnSide{
    flex-direction: row;
  }
}

/* Vista "estudios */

@media only screen and (min-width: 480px){
  .carousel{
    width: 75%;
    margin: 5vw; 
  }
}

/* Vista "about" */

.imgAbout {
  border-radius: 50%;
  width: 15%;
}

/* Vista "herramientas" */

.iconos {
  width: 8%;
}


