$primaryColor: rgb(217, 217, 217);
$secondaryColor: rgb(28, 27, 27);

$primaryBgColor: rgba(199, 141, 141, 0.655);
$secondaryBgColor: rgba(128, 128, 128, 0.655);

$primaryLinkHoverBg: rgba(71, 70, 70, 0.493);
$secondaryLinkHoverBg: rgba(240, 233, 233, 0.493);
$card: rgb(8, 8, 49);
