$primaryColor: rgb(217, 217, 217);
$secondaryColor: rgb(28, 27, 27);

$primaryBgColor: rgba(199, 141, 141, 0.655);
$secondaryBgColor: rgba(128, 128, 128, 0.755);
$navBgColor: rgba(0, 0, 0, 0.518);

$linkHoverBg: rgba(240, 233, 233, 0.493);
$card: rgb(8, 8, 49);
