@mixin animacionNav($color, $bgColor, $width, $padding, $transformation) {
  transition: transform 0.5s;
  &:hover {
    color: $color !important;
    background-color: $bgColor;
    width: $width;
    padding: $padding;
    transform: $transformation;
  }
}

@mixin animacionBotones($escala) {
  transition: transform 1s;
  &:hover {
    transform: scale($escala);
  }
}

@mixin propBannerGris($marginTop, $gap, $minHeight){
  margin-top: $marginTop;
  gap: $gap;
  min-height: $minHeight;
}


// para llamarlo, dentro de otra clase:
// @include animacionNav(red, 50px)
