.card {
  border: 2px solid;
  border-color: $card;
  color: $card;
  margin: 0px 2vw; 
}

@media only screen and (min-width: 961px) {
  .card{
    margin: 0px 0vw;
  }
}

.card-img-top {
  aspect-ratio: 10/16;
}

.card-body {
  padding-top: 0;
}

.collapseCardInfo.show {
  @extend %bloqueFlexColumn;
}

.card-text {
  max-width: 80vw;
}

.button-container {
  @extend %bloqueFlexRow;
  gap: 1vw;
}
.card-container {
  display: grid;
  gap: 5vw;
  margin-bottom: 10vh;
}

@media only screen and (min-width: 961px) {
  .card-container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(3, 30vw);
    gap: 1vw;
    margin-bottom: 10vh;
  }
}
