* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mainBody {
  background-image: url(https://res.cloudinary.com/dvxkjikvk/image/upload/v1725200844/desarrolloWeb/fondos/mobile_pfadb3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 15%;
  height: 100vh;
  position: relative;
}

@media only screen and (min-width: 500px) and (max-width: 960px) {
  .mainBody {
    background-image: url(https://res.cloudinary.com/dvxkjikvk/image/upload/v1725200848/desarrolloWeb/fondos/tablet_ssp7c1.jpg);
    // background-attachment : fixed -- img queda fija en el scroll
  }
}
@media only screen and (min-width: 961px) {
  .mainBody {
    background-image: url(https://res.cloudinary.com/dvxkjikvk/image/upload/v1725200836/desarrolloWeb/fondos/desktop_m1ffbe.png);
    background-position: 0%;
  }
}

a {
  text-decoration: none !important;
  color: $primaryColor !important;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  max-height: 10vh;
  @extend %marginPaddingGeneral;
}

.capturas {
  @extend %bloqueFlexColumn;
  width: 90%;
}

@media only screen and (min-width: 960px) {
  .capturas {
    width: 50%;
  }
}
.secciones {
  @extend %bloqueFlexColumn;
  gap: 2vh;
  align-items: center;
}

.titulo {
  @extend %marginPaddingGeneral;
}

.parrafoDescriptivo {
  @extend %marginPaddingGeneral;
  width: 90%;
  text-align: left;
}

@media only screen and (min-width: 960px) {
  .parrafoDescriptivo {
    width: 70%;
    text-align: center;
  }
}

.fondoParaParrafo {
  background-color: $primaryBgColor;
  padding: 5%;
  color: $primaryColor;
  @extend %bloqueFlexColumn;
  align-items: center;
  font-size: large;
}

.btn {
  @include animacionBotones(1.2);
}

.btnSide {
  position: fixed;
  bottom: 10vh;
  right: 3vw;
  @extend %bloqueFlexColumn;
  gap: 1vh;
  @include animacionBotones(1.2);
}

@media only screen and (min-width: 500px) {
  .btnSide {
    flex-direction: row;
  }
}
