.bannerGris {
  @extend %bloqueFlexColumn;
  color: $primaryColor;
  background-color: $secondaryBgColor;
  text-align: end;
  padding: 5%;
  @include propBannerGris(30%, 2vh, 20vh);
}

@media only screen and (min-width: 500px) and (max-width: 960px) {
  .bannerGris {
    justify-content: center;
    @include propBannerGris(15%, 3vh, 50vh);
  }
}

@media only screen and (min-width: 961px) {
  .bannerGris {
    @include propBannerGris(10%, 5vh, 50vh);
  }
}

.mediosContacto {
  @extend %bloqueFlexRow;
  justify-content: end;
}

.btnBanner {
  background-color: transparent;
  border: none;
  @include animacionBotones(1.6);
}
