.container-fluid {
  @extend %bloqueFlexRow;
  background-color: $navBgColor;
}

.navbar-brand {
  width: min-content;
}

.navbar {
  padding-top: 0;
}

.navbar-nav {
  text-align: left;
}

.navbar-collapse {
  justify-content: end;
}

.imgNav {
  border-radius: 50%;
  border: 2px solid;
  border-color: $secondaryColor;
  width: 15vw;
  margin-right: 2vh;
}

.nav-link {
  width: 20vw;
  @include animacionNav(
    $secondaryColor,
    $linkHoverBg,
    50%,
    1vh,
    translate(2vw)
  );
}

@media only screen and (min-width: 500px) and (max-width: 960px) {
  .imgNav {
    width: 8vw;
  }
  .nav-link {
    width: 15vw;
    @include animacionNav(
      $secondaryColor,
      $linkHoverBg,
      20%,
      1vh,
      translate(2vw)
    );
  }
}
@media only screen and (min-width: 961px) {
  .imgNav {
    width: 5vw;
  }
  .nav-link {
    width: fit-content;
    border-radius: 10px;
    @include animacionNav($secondaryColor, $linkHoverBg, 100%, 1vh, scale(1.1));
  }
}
